<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove" />

    <application
        android:name=".CashiroApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appLabel}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:localeConfig="@xml/locales_config"
        android:theme="@style/Theme.CashiroCompose">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Cashiro.SplashScreen"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity-alias
            android:name=".MainActivityOriginal"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_original"
            android:label="${appLabel}"
            android:roundIcon="@mipmap/ic_launcher_original_round"
            android:targetActivity=".MainActivity"
            android:theme="@style/Theme.Cashiro.SplashScreen.Original">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAnarchy"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_anarchy"
            android:label="${appLabel}"
            android:roundIcon="@mipmap/ic_launcher_anarchy_round"
            android:targetActivity=".MainActivity"
            android:theme="@style/Theme.Cashiro.SplashScreen.Anarchy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>

        <activity-alias
            android:name=".MainActivityZenith"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_zenith"
            android:label="${appLabel}"
            android:roundIcon="@mipmap/ic_launcher_zenith_round"
            android:targetActivity=".MainActivity"
            android:theme="@style/Theme.Cashiro.SplashScreen.Zenith">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>

        <activity-alias
            android:name=".MainActivityMonochrome"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_monochrome"
            android:label="${appLabel}"
            android:roundIcon="@mipmap/ic_launcher_monochrome_round"
            android:targetActivity=".MainActivity"
            android:theme="@style/Theme.Cashiro.SplashScreen.Monochrome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>

        <activity-alias
            android:name=".MainActivityComic"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_comic"
            android:label="${appLabel}"
            android:roundIcon="@mipmap/ic_launcher_comic_round"
            android:targetActivity=".MainActivity"
            android:theme="@style/Theme.Cashiro.SplashScreen.Comic">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>

        <activity
            android:name=".presentation.ui.screens.crash.CrashActivity"
            android:exported="false"
            android:theme="@style/Theme.CashiroCompose"
            android:process=":crash" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".receiver.NotificationActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.ritesh.cashiro.ACTION_DELETE_TRANSACTION" />
                <action android:name="com.ritesh.cashiro.ACTION_CONFIRM_TRANSACTION" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.ReminderReceiver"
            android:exported="false" />

        <receiver
            android:name=".receiver.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.WebhookSyncAlarmReceiver"
            android:exported="false" />

        <service
            android:name=".service.AddTransactionTileService"
            android:exported="true"
            android:label="@string/add_transaction"
            android:icon="@drawable/ic_add_transaction"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".service.AddSubscriptionTileService"
            android:exported="true"
            android:label="@string/add_subscription"
            android:icon="@drawable/ic_add_subscription"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".service.AddTransferTileService"
            android:exported="true"
            android:label="@string/add_transfer"
            android:icon="@drawable/ic_transfer"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>
    </application>

</manifest>
